In [239]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.optimizers import SGD, Adam
from tensorflow.keras import regularizers

In [240]:
# Read data
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
for_result_test_data = pd.read_csv("test.csv")

In [241]:
# Remove un-use columns

def drop_columns(df, list_columns=[]):
  return df.drop(list_columns, axis =1 )

list_columns =  ["PassengerId", "Name", "Ticket", "Fare", "Cabin", "Embarked"]
train_data = drop_columns(train_data, list_columns)
list_columns_test =  ["PassengerId", "Name", "Ticket", "Fare", "Cabin", "Embarked"]
test_data = drop_columns(test_data, list_columns_test)

In [242]:
# Remove nan in exist columns

train_data.fillna(train_data.mean(),inplace=True)
test_data.fillna(test_data.mean(),inplace=True)

In [243]:
# Split purpose

train_data_y = train_data.Survived
list_columns_survived =  ["Survived"]
train_data = drop_columns(train_data, list_columns_survived)

In [244]:
# one-hot vector

def one_hot_vector(df, list_OHV_columns):
  for column_name in list_OHV_columns:
    df = pd.get_dummies(df, columns=[column_name], prefix="oh"+column_name, sparse=True)
  return df

one_hot_columns = ["Pclass"]
train_data = one_hot_vector(train_data, one_hot_columns)
test_data = one_hot_vector(test_data, one_hot_columns)

In [245]:
# label encoding
sex_le = LabelEncoder()
train_data.Sex = sex_le.fit_transform(train_data.Sex)
test_data.Sex = sex_le.fit_transform(test_data.Sex)

In [246]:
# Standardization

sc = StandardScaler()
train_data.Age = sc.fit_transform(train_data.Age.values.reshape(-1, 1))
test_data.Age = sc.transform(test_data.Age.values.reshape(-1,1))

In [247]:
# to numpy
X = train_data.values
y = train_data_y.values

In [248]:
# Split data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [249]:
y_train = y_train.reshape(-1,1)
y_test = y_test.reshape(-1,1)

In [250]:
model = Sequential()
model.add(Dense(100, activation = "relu", input_dim = X_train.shape[1], name = "layer_1", kernel_regularizer=regularizers.l2(0.001)))
model.add(Dropout(0.5))
model.add(Dense(50, activation = "sigmoid", name = "layer_2", kernel_regularizer=regularizers.l2(0.001)))
model.add(Dropout(0.5))
model.add(Dense(25, activation = "sigmoid", name = "layer_3" , kernel_regularizer=regularizers.l2(0.001)))
model.add(Dense(1, activation = "sigmoid", name ="output_layer")) 
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=['acc'])

In [251]:
model.fit(X_train, y_train, epochs=100, batch_size=32)

Epoch 1/100
23/23 [==============================] - 1s 3ms/step - loss: 0.7698 - acc: 0.6096
Epoch 2/100
23/23 [==============================] - 0s 3ms/step - loss: 0.7535 - acc: 0.6138
Epoch 3/100
23/23 [==============================] - 0s 3ms/step - loss: 0.7370 - acc: 0.6110
Epoch 4/100
23/23 [==============================] - 0s 3ms/step - loss: 0.7187 - acc: 0.6348
Epoch 5/100
23/23 [==============================] - 0s 3ms/step - loss: 0.7030 - acc: 0.6250
Epoch 6/100
23/23 [==============================] - 0s 3ms/step - loss: 0.6870 - acc: 0.6320
Epoch 7/100
23/23 [==============================] - 0s 3ms/step - loss: 0.6642 - acc: 0.6840
Epoch 8/100
23/23 [==============================] - 0s 3ms/step - loss: 0.6362 - acc: 0.7317
Epoch 9/100
23/23 [==============================] - 0s 3ms/step - loss: 0.6353 - acc: 0.7346
Epoch 10/100
23/23 [==============================] - 0s 3ms/step - loss: 0.6016 - acc: 0.7669
Epoch 11/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5861 - acc: 0.7640
Epoch 12/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5688 - acc: 0.7795
Epoch 13/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5542 - acc: 0.7851
Epoch 14/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5487 - acc: 0.7978
Epoch 15/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5437 - acc: 0.7907
Epoch 16/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5389 - acc: 0.8020
Epoch 17/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5319 - acc: 0.8034
Epoch 18/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5345 - acc: 0.8062
Epoch 19/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5361 - acc: 0.7879
Epoch 20/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5372 - acc: 0.8020
Epoch 21/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5386 - acc: 0.7893
Epoch 22/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5332 - acc: 0.8034
Epoch 23/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5262 - acc: 0.7992
Epoch 24/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5158 - acc: 0.7963
Epoch 25/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5196 - acc: 0.7851
Epoch 26/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5265 - acc: 0.8216
Epoch 27/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5187 - acc: 0.8118
Epoch 28/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5313 - acc: 0.8062
Epoch 29/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5173 - acc: 0.8104
Epoch 30/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5309 - acc: 0.8090
Epoch 31/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5235 - acc: 0.8048
Epoch 32/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5203 - acc: 0.7963
Epoch 33/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5079 - acc: 0.8118
Epoch 34/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5181 - acc: 0.7978
Epoch 35/100
23/23 [==============================] - 0s 4ms/step - loss: 0.5207 - acc: 0.8020
Epoch 36/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5177 - acc: 0.8118
Epoch 37/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5158 - acc: 0.7978
Epoch 38/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5130 - acc: 0.8090
Epoch 39/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5058 - acc: 0.8048
Epoch 40/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5083 - acc: 0.8104
Epoch 41/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5105 - acc: 0.8090
Epoch 42/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4886 - acc: 0.8174
Epoch 43/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4919 - acc: 0.8146
Epoch 44/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5099 - acc: 0.7992
Epoch 45/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5046 - acc: 0.8118
Epoch 46/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5169 - acc: 0.8076
Epoch 47/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5140 - acc: 0.7978
Epoch 48/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5188 - acc: 0.8020
Epoch 49/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4976 - acc: 0.8132
Epoch 50/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5112 - acc: 0.7949
Epoch 51/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5149 - acc: 0.8048
Epoch 52/100
23/23 [==============================] - 0s 4ms/step - loss: 0.5055 - acc: 0.8006
Epoch 53/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5060 - acc: 0.7921
Epoch 54/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5133 - acc: 0.7949
Epoch 55/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5203 - acc: 0.7963
Epoch 56/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4941 - acc: 0.8132
Epoch 57/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4912 - acc: 0.8216
Epoch 58/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5001 - acc: 0.8104
Epoch 59/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5110 - acc: 0.8006
Epoch 60/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4942 - acc: 0.8076
Epoch 61/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5053 - acc: 0.8174
Epoch 62/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5046 - acc: 0.7893
Epoch 63/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4981 - acc: 0.8146
Epoch 64/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4997 - acc: 0.8076
Epoch 65/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5006 - acc: 0.8118
Epoch 66/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4991 - acc: 0.8202
Epoch 67/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4870 - acc: 0.8230
Epoch 68/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4929 - acc: 0.8132
Epoch 69/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5104 - acc: 0.8006
Epoch 70/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5037 - acc: 0.8020
Epoch 71/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5100 - acc: 0.7921
Epoch 72/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4993 - acc: 0.8146
Epoch 73/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4974 - acc: 0.8132
Epoch 74/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4942 - acc: 0.8230
Epoch 75/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4970 - acc: 0.8090
Epoch 76/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5035 - acc: 0.8132
Epoch 77/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4902 - acc: 0.8118
Epoch 78/100
23/23 [==============================] - 0s 4ms/step - loss: 0.4991 - acc: 0.8146
Epoch 79/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4971 - acc: 0.8160
Epoch 80/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4938 - acc: 0.8048
Epoch 81/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4974 - acc: 0.8118
Epoch 82/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4959 - acc: 0.8146
Epoch 83/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4913 - acc: 0.8104
Epoch 84/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4971 - acc: 0.8188
Epoch 85/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5060 - acc: 0.8048
Epoch 86/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5096 - acc: 0.7963
Epoch 87/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4983 - acc: 0.8048
Epoch 88/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5038 - acc: 0.8104
Epoch 89/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4990 - acc: 0.8104
Epoch 90/100
23/23 [==============================] - 0s 5ms/step - loss: 0.5014 - acc: 0.8132
Epoch 91/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5012 - acc: 0.8160
Epoch 92/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5096 - acc: 0.8020
Epoch 93/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4898 - acc: 0.8076
Epoch 94/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4918 - acc: 0.8076
Epoch 95/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5125 - acc: 0.8104
Epoch 96/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4998 - acc: 0.8006
Epoch 97/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4959 - acc: 0.8062
Epoch 98/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5050 - acc: 0.8076
Epoch 99/100
23/23 [==============================] - 0s 3ms/step - loss: 0.5062 - acc: 0.8118
Epoch 100/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4956 - acc: 0.8048

In [252]:

score = model.evaluate(X_train, y_train)
print("")
print("Train loss:{0}".format(score[0]))
print("Train accuracy:{0}".format(score[1]))
t_score = model.evaluate(X_test, y_test)
print("")
print("Test loss:{0}".format(t_score[0]))
print("Test accuracy:{0}".format(t_score[1]))

23/23 [==============================] - 0s 2ms/step - loss: 0.4720 - acc: 0.8244

Train loss:0.4719923734664917
Train accuracy:0.824438214302063
6/6 [==============================] - 0s 2ms/step - loss: 0.4548 - acc: 0.8101

Test loss:0.4548081159591675
Test accuracy:0.8100558519363403

In [253]:
result = model.predict(test_data.values)

14/14 [==============================] - 0s 2ms/step

In [254]:
df_suv = pd.DataFrame(result, columns = ["Survive"])

In [255]:
df_suv.Survive = round(df_suv.Survive)
df_suv.Survive = df_suv.Survive.astype('int8')

In [256]:
df_r = pd.concat([for_result_test_data, df_suv], axis=1)

In [257]:
df_r.drop(columns=[ "Name", "Ticket", "Fare", "Cabin", "Embarked",'Sex', 'Age', 'SibSp', 'Parch', 'Pclass'],inplace =True)

In [258]:
df_r

     PassengerId  Survive
0            892        0
1            893        0
2            894        0
3            895        0
4            896        1
..           ...      ...
413         1305        0
414         1306        1
415         1307        0
416         1308        0
417         1309        0

[418 rows x 2 columns]

In [264]:
df_r.to_csv("test_result", index = False)

In [260]:
df_r.columns

Index(['PassengerId', 'Survive'], dtype='object')

In [261]:
df_r

     PassengerId  Survive
0            892        0
1            893        0
2            894        0
3            895        0
4            896        1
..           ...      ...
413         1305        0
414         1306        1
415         1307        0
416         1308        0
417         1309        0

[418 rows x 2 columns]

In [262]:
df_suv

     Survive
0          0
1          0
2          0
3          0
4          1
..       ...
413        0
414        1
415        0
416        0
417        0

[418 rows x 1 columns]

In [263]:
test_data

     Sex       Age  SibSp  Parch  ohPclass_1  ohPclass_2  ohPclass_3
0      1  0.369449      0      0           0           0           1
1      0  1.331378      1      0           0           0           1
2      1  2.485693      0      0           0           1           0
3      1 -0.207709      0      0           0           0           1
4      0 -0.592481      1      1           0           0           1
..   ...       ...    ...    ...         ...         ...         ...
413    1  0.044131      0      0           0           0           1
414    0  0.715743      0      0           1           0           0
415    1  0.677266      0      0           0           0           1
416    1  0.044131      0      0           0           0           1
417    1  0.044131      1      1           0           0           1

[418 rows x 7 columns]